.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    overflow: auto;
    padding: 0 24px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.prize {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.container button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 20px;
    background: black;
    border-radius: 24px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    width: 92px;
    border: none;
    user-select: none;
}

.text {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    color: #000000;
    text-align: center;
}

