.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 8px;
    overflow: auto;
    padding: 0 24px 60px 24px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.container::-webkit-scrollbar {
    display: none;
}
.green_text {
    font-weight: 800;
    color: #4DC9AC;
}

.qr_code_wrapper {
    align-self: center;
    border-radius: 10px;
    display: grid;
    place-content: center;
}

.qr_code_wrapper img {
    width: 100px;
    height: 100px;
}

.btn {
    margin-top: 60px;
    width: 100%;
    line-height: unset;
}

.btn button {
    background: white;
    border: 1px solid black;
    color: black;
    margin: 0;
    width: 100%;
    align-self: flex-end;
}

.btn button:hover {
    background: white;
    border: 1px solid black;
    color: black;
    margin: 0;
    width: 100%;
    align-self: flex-end;
}

.wrapper {
    width: fit-content;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: white;
    border: 1px solid black;
    border-radius: 16px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.wrapper svg {
    width: 24px;
    aspect-ratio: 1/1;
}
