.root {
  display: flex;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99999999;
  transition: all 0.3s ease;
  max-height: 56px;
  min-height: 56px;
  background: white;
}

.root_transparent {
  background: transparent;
}
.root p {
  z-index: 99999999;
  margin: 0;
  align-self: center;
}
.profile_image {
  position: absolute;
  width: 32px;
  height: 32px;
  cursor: pointer;
  /*transition: opacity 0.15s ease;*/
  right: 12px;
  top: 12px;
}

.profile_image:hover {
  opacity: var(--hover-opacity);
}

.profile_wrapper > .profile_image  {
  width: 25px;
  height: 24px;
}

.girl_wrapper {
  position: absolute;
  left: 13px;
  top: 13px;
  background: transparent;
  overflow: visible;
}
