.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper p {
    margin: 0;
}

.wrapper p > span {
    font-weight: 700;
}

.top_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bonus_wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.skill_image_wrapper {
    width: 20px;
    height: 20px;
}

